@page "/"

<PageTitle>Index</PageTitle>
<h1 style="margin-bottom: 50px">Primary</h1>

<div style="display: flex; flex-direction: column; width: 33%; margin-bottom: 50px">
    <div style="display: flex; flex-direction: row; align-items: center">
        <div style="width: 30%">
            <p>Default</p>
        </div>
        <div>
            <SwlBtn Type="SwlBtn.SwlBtnType.Primary" Disabled="@false"></SwlBtn>
        </div>
    </div>
    <div style="display: flex; flex-direction: row; align-items: center">
        <div style="width: 30%">
            <p>Hover</p>
        </div>
        <div>
            <SwlBtn Type="SwlBtn.SwlBtnType.Primary" Disabled="@false"></SwlBtn>
        </div>
    </div>
    <div style="display: flex; flex-direction: row; align-items: center">
        <div style="width: 30%">
            <p>Disabled</p>
        </div>
        <div>
            <SwlBtn Type="SwlBtn.SwlBtnType.Primary" Disabled="@true"></SwlBtn>
        </div>
    </div>
</div>


<h1 style="margin-bottom: 50px">Stroke</h1>

<div style="display: flex; flex-direction: column; width: 33%; margin-bottom: 50px">
    <div style="display: flex; flex-direction: row; align-items: center">
        <div style="width: 30%">
            <p>Default</p>
        </div>
        <div>
            <SwlBtn Type="SwlBtn.SwlBtnType.Stroke" Disabled="@false"></SwlBtn>
        </div>
    </div>
    <div style="display: flex; flex-direction: row; align-items: center">
        <div style="width: 30%">
            <p>Hover</p>
        </div>
        <div>
            <SwlBtn Type="SwlBtn.SwlBtnType.Stroke" Disabled="@false"></SwlBtn>
        </div>
    </div>
    <div style="display: flex; flex-direction: row; align-items: center">
        <div style="width: 30%">
            <p>Disabled</p>
        </div>
        <div>
            <SwlBtn Type="SwlBtn.SwlBtnType.Stroke" Disabled="@true"></SwlBtn>
        </div>
    </div>
</div>

